<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_21d_bp_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,560},{45,36}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,29},{45,36}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,544},{105,64}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{105,64}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,230},{165,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,92}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,452},{157,88}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{157,88}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,284},{149,84}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{149,84}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,369},{141,78}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{141,78}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,529},{135,70}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{135,70}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,544},{127,62}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{127,62}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,527},{129,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{129,70}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,448},{127,78}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{127,78}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,448},{127,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{127,80}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,369},{125,70}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{125,70}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,541},{125,60}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,37},{125,60}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{125,48}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,48},{125,48}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,262},{35,28}}</string>
                <key>offset</key>
                <string>{-22,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,59},{35,28}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_bp_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,284},{35,26}}</string>
                <key>offset</key>
                <string>{-22,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,70},{35,26}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>e_21d_wxl_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,323},{120,96}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,46},{120,96}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,323},{160,128}}</string>
                <key>offset</key>
                <string>{27,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,12},{160,128}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,129},{236,132}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{236,132}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{252,130}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{252,130}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,423},{194,120}}</string>
                <key>offset</key>
                <string>{-44,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{194,120}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,136}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{266,136}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{258,126}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{258,126}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,157},{220,126}}</string>
                <key>offset</key>
                <string>{-26,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{220,126}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{254,146}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{254,146}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{224,154}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{224,154}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,262},{210,160}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{210,160}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{250,142}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{250,142}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{264,112}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{264,112}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,115},{260,114}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{260,114}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,452},{136,88}}</string>
                <key>offset</key>
                <string>{73,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,34},{136,88}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
            <key>e_21d_wxl_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,230},{116,76}}</string>
                <key>offset</key>
                <string>{77,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,45},{116,76}}</string>
                <key>sourceSize</key>
                <string>{282,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bjeffect0.png</string>
            <key>size</key>
            <string>{1019,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76019beedb2bc98a4b2b434b47925bb8:1/1$</string>
            <key>textureFileName</key>
            <string>bjeffect0.png</string>
        </dict>
    </dict>
</plist>
