<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21dian/gui-ts-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,246}</string>
                <key>spriteSourceSize</key>
                <string>{490,246}</string>
                <key>textureRect</key>
                <string>{{2,2},{490,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21dian/gui-ts-button-cancel-dj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,82}</string>
                <key>spriteSourceSize</key>
                <string>{164,82}</string>
                <key>textureRect</key>
                <string>{{494,2},{164,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21dian/gui-ts-button-cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{144,62}</string>
                <key>spriteSourceSize</key>
                <string>{164,82}</string>
                <key>textureRect</key>
                <string>{{494,86},{144,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21dian/gui-ts-button-close-dj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{640,168},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21dian/gui-ts-button-close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{704,168},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21dian/gui-ts-button-sure-dj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,82}</string>
                <key>spriteSourceSize</key>
                <string>{164,82}</string>
                <key>textureRect</key>
                <string>{{660,2},{164,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21dian/gui-ts-button-sure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{144,62}</string>
                <key>spriteSourceSize</key>
                <string>{164,82}</string>
                <key>textureRect</key>
                <string>{{494,150},{144,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>notMoney.png</string>
            <key>size</key>
            <string>{750,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57fede647fc6b66b8cb491a454270b94:cb0b974df96864aae7fff3ad6855c6f5:c97d5954586453c25afc14dc0e3cef43$</string>
            <key>textureFileName</key>
            <string>notMoney.png</string>
        </dict>
    </dict>
</plist>
