<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21dian/21_HJK_e001.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1097},{76,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>21dian/21_HJK_f001.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,68},{168,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{168,44}}</string>
                <key>sourceSize</key>
                <string>{168,66}</string>
            </dict>
            <key>21dian/21_HJK_g001.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,238},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{74,92}</string>
            </dict>
            <key>21dian/21_HJK_h001.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,478},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>21dian/GuangBian/21_HJK_a0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{263,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{263,70}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/GuangBian/21_HJK_a0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{263,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{263,70}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/GuangBian/21_HJK_a0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{263,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/GuangBian/21_HJK_a0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{263,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/GuangBian/21_HJK_a0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{263,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{263,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/GuangBian/21_HJK_a007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{263,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{263,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/GuangBian/21_HJK_a008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{263,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{263,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/GuangBian/21_HJK_a009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{263,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{263,70}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,586},{163,52}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,44},{163,52}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,930},{165,58}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{165,58}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,759},{169,60}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,34},{169,60}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{171,64}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{171,64}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,586},{171,62}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,27},{171,62}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{171,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{171,62}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1085},{139,62}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{139,62}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,918},{141,62}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{141,62}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,751},{139,60}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{139,60}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,314},{135,54}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{135,54}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,582},{129,50}}</string>
                <key>offset</key>
                <string>{-28,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{129,50}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b005.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1192},{141,36}}</string>
                <key>offset</key>
                <string>{16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,60},{141,36}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b006.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,327},{149,38}}</string>
                <key>offset</key>
                <string>{15,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,58},{149,38}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b007.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,930},{153,40}}</string>
                <key>offset</key>
                <string>{13,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,56},{153,40}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b008.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,759},{157,44}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,52},{157,44}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/LiZi/21_HJK_b009.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{159,48}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,48},{159,48}}</string>
                <key>sourceSize</key>
                <string>{201,96}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d000.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,672},{259,72}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d001.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,68},{257,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d002.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,933},{257,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{263,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d004.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,411},{259,72}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{263,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{263,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{263,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{265,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{263,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{263,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d012.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,150},{259,72}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>21dian/ShanDian/21_HJK_d013.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,327},{257,70}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{257,70}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeiJieKe0.png</string>
            <key>size</key>
            <string>{511,1249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d723f021dbef2c6561754359af8d42f$</string>
            <key>textureFileName</key>
            <string>HeiJieKe0.png</string>
        </dict>
    </dict>
</plist>
