<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/common981/gui-gm-button-yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,2},{315,101}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{315,101}}</string>
                <key>sourceSize</key>
                <string>{319,105}</string>
            </dict>
            <key>res/common981/gui-icon-head-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,261},{109,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{109,156}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>res/common981/gui-icon-head-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,261},{133,152}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{133,152}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>res/common981/gui-icon-head-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,107},{129,152}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{129,152}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>res/common981/gui-icon-head-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,283},{133,154}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{133,154}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>res/common981/gui-icon-head-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,107},{143,152}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{143,152}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>res/common981/gui-icon-head-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,261},{129,152}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{129,152}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>res/common981/gui-icon-head-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,2},{149,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{149,156}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>res/common981/gui-icon-head-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,283},{137,152}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{137,152}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>res/common981/gui-icon-head-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,302},{119,152}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{119,152}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>res/common981/gui-icon-head-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,107},{129,152}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{129,152}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>res/common981/gui-main-toux--bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,153},{148,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{148,147}}</string>
                <key>sourceSize</key>
                <string>{174,173}</string>
            </dict>
            <key>res/common981/gui-main-toux-box.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,107},{174,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,173}}</string>
                <key>sourceSize</key>
                <string>{174,173}</string>
            </dict>
            <key>res/common981/gui-ti-box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{968,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{968,344}}</string>
                <key>sourceSize</key>
                <string>{968,344}</string>
            </dict>
            <key>res/common981/gui-wz-ts-bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{686,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{686,103}}</string>
                <key>sourceSize</key>
                <string>{688,103}</string>
            </dict>
            <key>res/common981/wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,348},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>res/common981/waitBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{659,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{659,77}}</string>
                <key>sourceSize</key>
                <string>{661,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common981.pvr.ccz</string>
            <key>size</key>
            <string>{1921,427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6332ce8e38ac673ae3b0f4c65a389468:1/1$</string>
            <key>textureFileName</key>
            <string>common981.pvr.ccz</string>
        </dict>
    </dict>
</plist>
